<div class='overlay' (click)='goBack()' ></div>
<div class='modalwindow'>
    <div class='generalbar'>
        <img src="src/app/icon/basic_webpage_img_txt-128.png" class="dialog">
        <input id="namecard" [(ngModel)]='link.value'>
        <div class="parents">in list <a>{{parent.name}}</a></div>
        <div class="desriptor">Description</div>
        <div *ngIf='editDiscrib==false' class="desriptor">
            <button (click)="editDiscrib=true">Edit</button>
            <div id="description">{{link.description}}</div>
        </div>
        <div *ngIf='editDiscrib==true'>
            <textarea #discibtion value='{{link.description}}' focus class="textarea-description"></textarea>
            <div class="optionsave"><button (click)="editDiscrib=false; saveDiscibtion(discibtion.value)">Save</button>
            <button (click)="editDiscrib=false">&#10005;</button></div>
        </div>
        <div class="Comments">
            <img src="src/app/icon/dialogue-cloud-symbol (1).png">
            <div>Add Comments</div>
        </div>
        <div class="iconuser">{{user}}</div>
        <div class="commentfield">
            <textarea #newcomment placeholder="Write a commten..."></textarea>
            <button (click)="sendComment(newcomment.value); newcomment.value=''" class="sendbutton">send</button>
        </div>
        <div *ngFor="let comment of link.comments" value="object">
            <app-comment [comment]=comment></app-comment>
        </div>
    </div>
    
</div>