.overlay{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    display: block;
    top: 0px;
    left: 0px;
}
.modalwindow{
    color: #4d4d4d;
    position: absolute;
    z-index: 5;
    width: 730px;
    min-height: 600px;
    background: #EDEFF0;
    top: 50px;
    left: calc(50% - 370px);
    padding: 20px;
    max-height: calc( 100% - 100px);
    overflow: scroll;
}
input {
    background: #EDEFF0;
    border: none;
}
input:focus{
    background: #fff;
}
#namecard{
    font-size: 20px;
    font-weight: bold;
}
#namecard+div a{
    text-decoration: underline;
}
#namecard+div{
    padding: 5px 0;
}
#description{
    margin: 10px 0;
    margin-left: -89px;
}

.generalbar{
    float: left;
}
.dialog{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.parents{
    margin-left: 35px;
    font-size: 14px;
    margin-bottom: 20px
}
button{
    background: #EDEFF0;
    border: none;
}
.desriptor{
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
}
.desriptor+.desriptor{
    margin-left: 10px;
}
.desriptor button{
    font-size: 14px;
    text-decoration: underline;
    text-align: left;
    padding: 0px;
}
.textarea-description{
    margin-top: 15px;
    margin-left: 35px;
    min-height: 92px;
    width: 492px;
    clear:both;
    background: #E2E4E6
}
.optionsave{
    margin-left: 35px;
}
.optionsave button:first-child{
    background: #60a056;
    height: 30px;
    width: 74px;
    border-radius: 4px;
}
.optionsave button:nth-child(2){
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.Comments div{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.Comments img{
    margin-right: 14px;
    width: 25px;
    height: 20px;
}
.commentfield{
    margin-left: 30px;
    margin-top: 20px;
}
.iconuser{
    margin-top:10px;
    width: 30px;
    height: 30px;
    background: #D6DADC;
    box-sizing: border-box;
    padding: 6px 10px;
    display: inline-block;
}
.commentfield{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.commentfield textarea{
    width: 506px;
    min-height: 60px;
    box-sizing: border-box;
}
.sendbutton{
    display: block;
    width: 100px;
    height: 30px;
    color: #767A7C;
    background: #C6CACC;
    border-radius: 4px;
}