<div class="login-component">
    <h2>Forgor passowrd</h2>
    <form name="form">
        <div class='fild'>
            <label for="mail">Your e-mail</label>
            <input type="text"  name="mail" [(ngModel)]='mail'/>
        </div>
        <div *ngIf="errorLog.length>0"><h2>{{errorLog}}</h2></div>
        <div>
            <button (click)="resetPassword()">Send</button>
        </div>
    </form>
</div>