<div class="list">
  <span *ngIf='newCard==false' (mouseup)='newCard=true'>{{list.name}}</span>
  <input *ngIf='newCard==true' focus #inputList [value]='list.name' (blur)='newCard=false;changeListName(inputList.value,list.id)' class='inputName'>
  <div class="datafield" [dragula]='"first-bag"' [dragulaModel]='card'>
     <app-card *ngFor="let card of card" [card]='card'></app-card>
  </div>
  <div *ngIf="edintName==false" (click)="edintName=true;">
    <div class="inf">Add a card...</div>
  </div>
  <div *ngIf="edintName==true">
    <div class='addcard'>
      <textarea [(ngModel)]="cardName"  focus class="txar-name" (blur)='closeWindow()'></textarea>
      <button (click)="addNewCard(cardName);edintName=false"  class="add">Add</button>
    </div>
  </div>
</div>
