.list {
    box-sizing: border-box;
    width: 20px;
    background: #e0e2e2;
    padding: 10px 5px;
    display: inline-block;
    margin: 20px;
    vertical-align: top; 
    width: 270px;
    border-radius: 5px;
}
.datafield{
    min-height: 30px;
    width: 180px;
}
.inf{
    color: #8c8c8c;
    background: #e0e2e2;
    width: 270px;
    position: absolute;
    left: 20px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
.inf:hover{
    background: #d0d2d2;
    text-decoration: underline;
}
.txar-name{
    width: 250px;
    height: 70px;
}
.add{
    background: #85dd5f;
    border: #85dd5f 2px solid;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
