<div class="card" >
  <div *ngIf="edit==false" (click)='createModalWindow()'>
    <a>
      <div class="value">{{card.value}}</div>
    </a>
    <div class="genifblock">
      <div class="block-if" *ngIf="card.description"><img src="/src/app/icon/text_left_align-512.png" class="dialog-image"></div>
      <div class="block-if" *ngIf="card.comments.length>0"><img src="/src/app/icon/dialogue-cloud-symbol (1).png" class="dialog-image">{{card.comments.length}}</div>
    </div>
    <router-outlet></router-outlet>
    <button (click)="edit=true;">&#10000;</button>
  </div>
  <div *ngIf="edit==true">
    <textarea [(ngModel)]="card.value" class="edit-text" focus></textarea>
    <div class="cover" (click)="edit=false;updateCard()"></div>
  </div>
</div>