.card{
    width: 260px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 5px 0;
    border-radius: 4px;
}
.card>div{
    padding: 10px;
}
button{
    position: absolute;
    top:0px;
    right: 0px;
    opacity: 0;
    width: 30px;
    height: 30px;
}
.card:hover button{
    background: #efefef;
    opacity: 0.9;
    border: none;
}
.card:hover{
    background: #efefef;
}
.value{
    max-width: 240px;
    word-wrap: break-word;
}
a {
    text-decoration: none;
    color: #000;
}
.dialog-image{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.block-if{
    display: inline-block
}
.genifblock{
    clear: both;
}
.edit-text{
    position:absolute;
    z-index: 10;
    top:0;
    left:0;
    padding: 10px;
    width: 260px;
    min-height: 90px;
    box-sizing: border-box;
}
.cover{
    width: 100vw;
    height: 100vh;
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}