<div class="app-elem">
  <div class="workfield">
    <div class="header-fild">
      <div class='img-border'><img src="src/app/icon/noun_973401_cc.png" class="group-img"></div>
      <div class="boards-group">Personal Board</div>
    </div>
    <div [routerLink]="['/workfield',item.id]" *ngFor="let item of boards" class='board'  routerLinkActive="active">
      <a>{{item.name}}</a>
    </div>
    <router-outlet></router-outlet>
    <div *ngIf="flagInput==false" class="add-button">
      <button (click)="flagInput=true">Create new board...</button>
    </div>
    <div *ngIf="flagInput==true" class="add-button">
      <app-table (something)="addNewBoard($event); flagInput=false" (back)="callBack($event)"></app-table>
    </div>
  </div>
<div>
