.board{
    display: inline-block;
    width: 23.5%;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 20px;
    background: #026AA7;
    box-sizing: border-box;
    border: #51797d solid 2px;
    padding: 5px;
    padding-left: 10px;
    overflow: hidden;
    clear: none;
    font-weight: bold;
    border-radius: 4px;
}
a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.app-elem{
    width: 100vmax;
    text-align: center;
    display: block;
    text-align: center;
}
.workfield{
    max-width: 1300px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
}
button{
    display: inline-block;
    vertical-align: top;
    position: relative;
    clear: none;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background: #E2E4E6;
    border: none;
    color: #8c8c8c;
}
button:hover{
    background: #d9dadb;
    color: #696969
}
.add-button{
    width: 23.5%;
    display: inline-block;
    vertical-align: top;

}
.group-img{
    width: 22px;
    height: 22px;
    position: relative;
    top: 4px;
    margin-right: 20px;
}
div.img-border{
    width: 22px;
    height: 22px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.header-fild{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.boards-group{
    font-size: 18px;
    font-weight: bold;
}
.board:hover{
    background: #015587;
}
