.icon{
    width: 30px;
    height: 30px;
    background: #D6DADC;
    box-sizing: border-box;
    padding: 7px 9px;
    display: inline-block;
}
.message{
    padding: 20px;
    display: inline-block;
    margin-left: 10px;
    width: 500px;
    word-wrap: break-word;
    vertical-align: top;
    background: #fff;
    min-height: 60px;
    box-sizing: border-box;
}
.comment{
    margin: 20px 0px;
}
.user-name{
    font-size: 14px;
    padding-left: 20px;
}
.body{
    display: inline-block;
}   