<div class="workfield">
    <div class='name-board'><input type='text' [(ngModel)]='link.name' (blur)='updateName()'/></div>
    <div class='listcard'  [dragula]="uniqueBagId" [dragulaModel]='lists'>
        <div class="lists" *ngFor="let object of lists"  >
            <div class='container'>    
                <!--div class='handle'>
                    <div *ngIf='st_list==false' (click)='st_list=true'>{{object.name}}</div>
                    <div *ngIf='st_list==true'><input type="text" value='{{object.name}}'></div> 
                </div-->
                <div *ngIf='st_list==false' class = 'handle'></div>    
                <app-list [list]=object ></app-list>
                <button class="deletebutton" (click)="deleteList(object)">...</button>
            </div>
        </div>
    </div>
    <div *ngIf="inputactive==false" class="addelement">
        <div (click)="inputactive=true">Add a list...</div>
    </div>
    <div *ngIf="inputactive" class="apptable">
        <app-setlist (something)="newList($event);" (back)='close()'></app-setlist>
    </div>
</div>
