.workfield{
    white-space: nowrap;
    background: #178cd1;
    margin-bottom: 100px;
    min-height: 95vh;
    width: auto;
    position: absolute;
    display: inline-block;
    min-width: 100vw;
}
.lists{
    display: inline-block;
    vertical-align: top;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
}

.deletebutton{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 28px;
    font-size: 18px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: none;
    background: #e0e2e2;
}
.container{
    display: block;
    float: left;
    width: 300px;
    min-height: 100px; 
    position: relative;
}
.handle{
    position: absolute;
    background: red;
    opacity: 0;
    top: 22px;
    left: 132px;
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom:0;
    margin-bottom: 20px; 

}
.apptable{
    margin-top: 20px;
    display: inline-block;
    width: 300px;
    height: 300px;
}
.addelement{
    display: inline-block;
    width: 300px;
    height: 50px;
    padding: 20px;
}
.addelement div{
    width: 300px;
    height: 40px;
    background: #026AA7;
    color: white;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
}
.listcard{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
}
.name-board input{
    background: #178cd1;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    color: #fff;
}