.app-data{
    width: 300px;
    height: 300px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    position: absolute;
    border: #9c9d9e 1px solid;
    z-index: 10;
}
.app-data input{
    margin-bottom: 10px;
    clear: right;
}
button{
    float:left;
    background: #69ce69;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}
.header{
    text-align: center;
    color: #9c9d9e;
    
}
span{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
input{
    background: #E2E4E6;
    border: 1px #dddddd solid;
    width: 275px;
    height: 30px;
    border-radius: 4px;
}
input:focus{
    background: #fff; 
}
.overlay{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}