<div class="overlay" (click)="callBack()"></div>
<div class="app-data">
    <div class="header">Create Board</div>
    <hr>
    <span>Title</span><br>
    <input focus  [(ngModel)]='name'><br>
    <button (click)="send(name)">Create</button>
<div>