.header{
    width: 100%;
    height: 40px;
    background: #026AA7;
    text-align: center;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
}
.boardslink{
    display: inline-block;
    width: 100px;
    height: 20px;
    clear: both;
}
a{
    color:#4ecbd9; 
}
img{
    width: 80px;
    height: 20px;
}
.сrutch{
    height: 40px;
}
.leftsetting{
    position: fixed;
    left: 5px;
    top: 5px;
   /* width: 300px;*/
}
.rightsetting{
    position: fixed;
    right: 4px;
    top: 4px;
}
.trellologo{
    width: 70px;
    height: 30px;
    position: relative;
    top: -5px;
    left: -25px;
    
}
.leftsetting>div{
    float: left;
    /*width: 87px;*/
    background: #5d9bbf;
    border-radius: 4px;
}
.leftsetting input{
    float: left;
}
.leftsetting>div>div{
    float: left;
    padding: 5px;
    color: #fff;
}
.leftsetting>div>img{
    float: left;
    box-sizing: border-box;
}
.spaseimage{
    width: 17px;
    height: 20px;
    float: left;
    overflow: hidden;
}
 .search{
    margin: 5px;
    background: #5d9bbf;
    border: none;
    border-radius: 3px;
    height: 28px; 
    position: relative;
    top: -5px;
}
.leftsetting .search:focus{
    background: #fff;
}
.light:hover{
    background: #1dabd3;
}
.leftsetting>div:hover{
    background: #23a0c4;
}
.bell, .plus, .inform, .user{
    background: #5d9bbf;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: block;
    float: left;
    margin-right: 5px;
    box-sizing: border-box;
}
.bell img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    left: 5px;
}
.plus{
    
    
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
.plus>div{
    padding-left: 9px;
    padding-top: 1px;
}
.inform img{
   width: 20px;
   height: 20px;
}
.inform{
    padding: 5px;
}
.user{
    width: 100px;
}
.user div{
    float: left;
}
.user div:first-child{
    background: #E2E4E6;
    height: 30px;
    width: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.user div:last-child{
    box-sizing: border-box;
    height: 30px;
    padding-top: 7px;
    padding-left: 10px;
}
.bell:hover,.plus:hover, .inform:hover, .user:hover{
    background: #23a0c4;
}
.bell:active, .plus:active, .inform:active, .user:active{
    background: #30a7D1;;
}
.createboard{
    position: fixed;
    top: 40px;
    right: 410px;
}
.cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;

}