<div class="header">
  <a routerLink="/boards" routerLinkActive="active">
    <div class="boardslink">
      <img src="http://logos-download.com/wp-content/uploads/2016/06/Trello_logo.png" alt="">
    </div>
  </a>
</div>
<div class="сrutch"></div>
<router-outlet></router-outlet>
<div class="leftsetting"  >
  <div class="light" routerLink="/boards" routerLinkActive="active">
    <div class="spaseimage "><img class="trellologo"src="src/app/icon/enterprise-logo-white.png"></div>
    <div >Boards</div>
  </div>
  <app-search></app-search>
</div>
<div class="rightsetting">
  <div class="plus" >
    <div (click)="create=true">&#43;</div>
    <div *ngIf="create==true" class="createboard">
        <app-table (something)="createNewBoard($event); create=false"></app-table>
        <div class='cover' (click)="create=false"></div>
    </div>
  </div>
  <div class="user" (click)='createLogOut()'><div>{{icon}}</div><div>{{user}}</div></div>
</div>
