.app-data{
     width: 300px;
    height: 90px;
    background: #d6d6d8;
    box-sizing: border-box;
    padding: 4px;
    display: inline-block;
    position: absolute;
    border: #9c9d9e 1px solid;
    z-index: 10;
    color:#d6d6d8;
    border-radius: 4px;
}
.app-data input{
    margin-bottom: 4px;
    clear: right;
}
button{
    float:left;
    background: #69ce69;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

input{
    background: #E2E4E6;
    border: 1px #dddddd solid;
    width: 275px;
    height: 30px;
    border-radius: 4px;
}
.overlay{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}