.login-component{
    margin:auto;
    text-align: center;
}
.fild{
    width: 100vw;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.fild input{
    height: 20px;
    margin-left: 20px;
}
.fild label{
    color: #026AA7
}
h2{
    color: #026AA7
}
button{
    
    height: 25px;
    border-radius: 4px;
    background: #5d9bbf;
    border-color:#127AA7;
    color: #fff;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: 15px;
    color:#026AA7;
}
a :visited{
    color:#026AA7;
}

.link{
    margin: 15px;
}