<div class="login-component">
    <h2>Login</h2>
    <form name="form">
        <div class='fild'>
            <label for="username">Username</label>
            <input type="text"  name="username" [(ngModel)]="model.username"required />
        </div>
        <div class = 'fild'>
            <label for="password">Password</label>
            <input type="password"  name="password" [(ngModel)]="model.password" required />
        </div>
        <div *ngIf="errorLog.length>0"><h2>{{errorLog}}</h2></div>
        <div>
            <button (click)="login()">Login</button>
            <button [routerLink]="['/registration']"  routerLinkActive="active"> Registration </button>
            <div class='link'><a [routerLink]="['/forgot-passowrd']" routerLinkActive='active'>Fogot passowrd?</a></div>
        </div>
    </form>
</div>