<div class="login-component">
    <h2>Registration</h2>
    <form name="form">
        <div class='fild'>
            <label for="username">Username</label>
            <input type="text"  name="username" [(ngModel)]="model.username"  required />
        </div>
        <div class = 'fild'>
            <label for="password">Password</label>
            <input type="password"  name="password" [(ngModel)]="model.password"  required />
        </div>
        <div class = 'fild'>
            <label for="mail">Mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text"  name="mail" [(ngModel)]="model.mail"  required />
        </div>
        <div *ngIf='displayErr.length>0'><h2>{{displayErr}}</h2></div>
        <div>
            <button (click)="registration()">Registration </button>
            <button [routerLink]="['/login']"  routerLinkActive="active"> Login</button>
        </div>
        
    </form>
</div>