<div class="login-component">
    <h2>Change you password</h2>
    <form name="form">
        <div class = 'fild'>
            <label for="password">Password</label>
            <input type="password"  name="password" [(ngModel)]="password"  required />
        </div>
        <div *ngIf='displayErr.length>0'><h2>{{displayErr}}</h2></div>
        <div>
            <button (click)="changePassword()">Send new password </button>
        </div>
        
    </form>
</div>