<!--input #searchobject (input)='search($event.target.value)' class="search light" (blur)="searchobject.value='';timesearch($event.target.value)"-->
<input #searchobject class="search light" (keyup)="search(searchobject.value)" (blur)='reset(searchobject.value);searchobject.value=""'/>
<div *ngIf='boards'>
    
    <div class='listofsearch'>
        <div>Boards</div>
        <div *ngFor='let obj of boards' class='board' [routerLink]="['/workfield',obj.id]">
            <div>{{obj.name}}</div>
        </div>
    </div>
</div>
