.search{
    margin: 5px;
    background: #5d9bbf;
    border: none;
    border-radius: 3px;
    height: 28px; 
    position: relative;
    top: -5px;
}
.light:hover{
    background: #1dabd3;
}
.listofsearch{
    min-width: 240px;
    background: #1dabd3;
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    left: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.listofsearch div{
    padding: 20px;
    color: #fff;
}
.board{
    width: 200px;
    height: 100px;
    padding: 10px;
    background: #026AA7;
    margin: 20px;
    box-sizing: border-box;
}