.overlay{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0px;
    left: 0px;
}
.modal{
    position: fixed;
    top: 40px;
    right: 0;
    width: 150px;
    height: 60px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #AAA;
    z-index: 5;
    background: white;
}